body {
    /*border: 1px solid green;*/
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    height: 98vh;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 53, 51);

}

.layout {
    /* border: 1px solid red; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 15px 10px;
    gap: 12px;
    max-width: 1100px;
    min-width: 300px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color:  rgb(36, 36, 35);
}

.f-container {
    border: 1px solid rgb(90, 90, 90);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#title-box {
    border-radius: 5px;
    background-color: rgb(54, 54, 54);
}

#title-box > h1 {
    font-size: 2em;
    margin: 15px;
}

#url-box {
    justify-content: space-between;
    gap: 15px;
    border: none;
}

#url-input {
    color: rgb(255, 255, 255);
    background-color: rgb(54, 54, 54);
    border: 1px solid rgb(90, 90, 90);
    border-radius: 5px;
    padding: 5px;
    font-size: medium;
    text-align: center;
    width: 85%;
}

input {
    outline: none;
}

#pin {
    color: rgb(255, 255, 255);
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
    border: 1px solid rgb(90, 90, 90);
    font-size: medium;
    text-align: center;
    width: 15%;
    padding: 5px;
}

#pin:hover {
    background: linear-gradient(45deg, #5f5f5f, #3b3b3b);
}

#pin:active {
    background: linear-gradient(45deg, #8d8d8d, #5f5f5f);
}

#pin:focus {
    outline: none;
}

#content-box {
    background-color: rgb(54, 54, 54);
    border-radius: 5px;
    border: 1px solid rgb(90, 90, 90);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: start;
    align-items: start;
    align-content: flex-start;
    gap: 10px 10px;
    padding: 10px 10px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
}

.pin-container {
    border: 1px solid rgb(66, 66, 66);
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    overflow: hidden;
}

.pin-bar {
    /* border: 1px solid green; */
    background-color: rgb(36, 36, 36);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.pin-header {
    text-align: center;
    font-size: 0.85em;
    width: 100%;
    padding: 3px;
    overflow: hidden;
    white-space: nowrap;
}

.pin-url {
    flex: 0 1 auto;
}

.pin-cross {
    /* border: 1px solid black; */
    font-size: 0.85em;
    font-weight: bold;
    box-sizing: border-box;
    margin: 0px;
    padding: 3px 5px;
}

.pin-cross:hover {
    background-color: white;
    color: black;
}

.pin-img-frame {
    /* border: 1px solid green; */
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    overflow: hidden;
}

.pin-img {
    position: relative;
    height: 100%;
    transition: 0.3s;
}

.pin-img:hover {
    height:150%;
}

#popup-layout{
    display: none;
    border: none;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 10px;
    align-items: center;
    flex-direction: column;
}

#popup-panel{
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(75, 75, 75, 0.952);
    flex-wrap: wrap;
    width: fit-content;
    max-width: 1000px;
}

#popup-bar{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid black;
}

#popup-title {
    text-align: center;
    width: 100%;
    overflow: hidden;
    font-size: 1.3em;
    white-space: nowrap;
}

#popup-cross {
    /* border: 1px solid black; */
    font-size: 1.3em;
    box-sizing: border-box;
    padding: 0px 5px;
}

#popup-cross:hover {
    color: black;
    border-top-right-radius: 5px;
    background-color: white;
}

#popup-img {
    width: 100%;
    display: block;
}

#popup-url {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
}



@media (max-width:950px) {
    #content-box{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:650px) {
    .layout{
        padding: 10px;
        gap: 10px;
    }
    #title-box > h1 {
        font-size: 1.5em;
    }
    #content-box{
        grid-template-columns: 1fr 1fr;
        padding: 5px 5px;
    }
    .pin-container {
        height: 200px;
    }
    #popup-title {
        font-size: 1em;
    }
    
    #popup-cross {
        font-size: 1em;
    }
}

@media (max-width:450px) {
    .layout{
        padding: 5px;
        gap: 5px;
    }
    #title-box > h1 {
        font-size: 1.5em;
    }
    #content-box{
        grid-template-columns: 1fr 1fr;
        padding: 5px 5px;
    }
    .pin-container {
        height: 150px;
    }
}

